@tailwind base;
@tailwind components;
@tailwind utilities;

/* [#3B72D2] */

input {
    @apply px-2;
  }
    .fc-header-toolbar {
      display: inline-block;
      padding: 4px 4px;
      
      @apply space-x-8;
  }
  
  .fc-day {
    @apply m-8;
  }
  
  .fc-scrollgrid-sync-table {
    @apply w-full;
  }
  
  .fc-view {
    @apply w-full h-full lg:h-3/4 xl:h-2/3 bg-white;
  }
  
  .fc-h-event {
    @apply bg-blue-500 border border-blue-600 ;
    
  }
  
  .fc .fc-daygrid-day.fc-day-today {
    @apply bg-blue-400 ;
  }
  
  .fc .fc-button{
    @apply bg-blue-800 hover:bg-blue-900  ;
  }
  
  .fc .fc-button-primary:not(:disabled).fc-button-active {
    @apply bg-blue-600;
  }
  
  .fc .fc-button-primary:disabled {
    @apply bg-blue-600;
  }
  .fc-v-event {
    @apply bg-blue-500 border border-blue-600 ;
    
  }